  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Sobre</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut molestias sint laudantium at, consequuntur facilis. Quas repellendus esse iure earum saepe voluptatibus numquam odio, repudiandae reiciendis a laborum aliquid?</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">João Vitor Farias Soares</p>
        </div>

      
      </div>
    </div>
</footer>